<mat-toolbar class="navbar">
  <button id="menuSecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="secciones">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #secciones="matMenu">
    <button mat-menu-item routerLink="/inicio">INICIO</button>
    <button mat-menu-item [matMenuTriggerFor]="producto">PRODUCTOS</button>
  </mat-menu>

  <img mat-card-image src="https://lh3.googleusercontent.com/p/AF1QipPESfMY3Q3NpRJco0IYOfEmiHChKr0crCYqSmE=s1600-h380" alt="imagen" style="width: 10%;">

  <button id="menuInicio" mat-button routerLink="/inicio">INICIO</button>

  <!-- Menu desplegable: SECCIÓN DE PRODUCTOS -->
  <button id="menuProducto" mat-button [matMenuTriggerFor]="producto">PRODUCTOS</button>
  <mat-menu #producto="matMenu">
    <button mat-menu-item routerLink="/producto">General</button>
    <button mat-menu-item routerLink="/indumentaria">Indumentaria</button>
  </mat-menu>

  <!-- Espacio flexible para centrar el buscador -->
  <span class="flex-spacer"></span>

  <!-- Buscador centrado -->
  <div class="search-container">
    <mat-form-field class="search-field">
      <input matInput placeholder="Buscar productos" class="search-input">
      <button mat-icon-button matSuffix aria-label="Buscar">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <!-- Espacio flexible para centrar el buscador -->
  <span class="flex-spacer"></span>

  <!-- Inicio de sesión y formulario de registro -->
  <button mat-icon-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
  <mat-menu #usuario="matMenu">
    <button mat-menu-item routerLink="/registro">Registrarse</button>
    <button mat-menu-item routerLink="/inicio-sesion">Iniciar sesión</button>
  </mat-menu>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
