.footer {
  background-color: #000000;
  color: white;
  padding: 5%;
  text-align: center; /* Alinea todo el contenido del footer al centro */
}

.footer-toolbar {
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las secciones se ajusten en múltiples líneas si es necesario */
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin-right: 24px;
  margin-bottom: 24px; /* Espacio entre las secciones del footer */
  text-align: center;
}

.footer-section:last-child {
  margin-right: 0;
}

.social-icon mat-icon {
  color: white;
}

.footer-bottom {
  text-align: center;
  padding-top: 5%;
}
