.footer {
  background-color: #000000; /* Color de fondo del footer */
  color: white; /* Color de texto del footer */
  padding: 5%; /* Espaciado interno del footer */
}

.footer-toolbar {
  justify-content: center; /* Centra el contenido horizontalmente */
}
.social-icon mat-icon {
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; /* Ancho máximo del contenido del footer */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  padding-bottom: 3%;
}

.footer-section {
  flex: 1; /* Hace que las secciones del footer ocupen el mismo espacio */
  margin-right: 24px; /* Espacio entre las secciones del footer */
  text-align: center; /* Centra el contenido dentro de cada sección */
}

.footer-section:last-child {
  margin-right: 0; /* Elimina el margen derecho de la última sección */
}


.footer-bottom {
  text-align: center; /* Centra el texto de derechos de autor */
  padding-top: 5%; /* Espaciado interno superior e inferior */
}
