<!-- footer.component.html -->
<footer class="footer">
    <mat-toolbar color="primary" class="footer-toolbar">
      <div class="footer-container">
        <div class="footer-section">
          <h3>Sobre nosotros</h3>
          <p>Somos una compañía de retail deportivo con más de 40 años de historia en el mercado Argentino, comercializando una amplia variedad de productos de marcas de primera línea. </p>
        </div>
        <div class="footer-section">
          <h3>Enlaces</h3>
          <mat-list>
            <mat-list-item><a href="#">Inicio</a></mat-list-item>
            <mat-list-item><a href="#">Contacto</a></mat-list-item>
          </mat-list>
        </div>
        <div class="footer-section">
          <h3>Redes Sociales</h3>
          <div class="social-media">
            <a href="https://facebook.com" target="_blank" class="social-icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
            </a>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div class="footer-bottom">
      <span>Copyright © 2022 Grid. All rights reserved.</span>
    </div>
  </footer>
  