<div class="container">
    <div class="row">
    <div>
      <mat-tab-group headerPosition="below">
        <mat-tab>
          <img mat-card-image src="https://grid0.vtexassets.com/assets/vtex.file-manager-graphql/images/20fcdf60-a27d-418e-8eda-f396c6629524___0ce057d45d4415dff2394092a4bf1cf1.jpg" alt="Imagen 1">
        </mat-tab>
        <mat-tab >
          <img mat-card-image src="https://grid0.vtexassets.com/assets/vtex.file-manager-graphql/images/d0f8a548-71f2-4063-868d-ee99a6a28b50___05ddfe48fc190a7452604babd80540dc.jpg" alt="Imagen 2">
        </mat-tab>
        <mat-tab>
          <img mat-card-image src="https://grid0.vtexassets.com/assets/vtex.file-manager-graphql/images/8fadedc0-e4f7-4d87-b982-357e82930165___e32fd997af66884eff9fffffaddfc927.jpg" alt="Imagen 3">
        </mat-tab>
        <mat-tab>
          <img mat-card-image src="https://grid0.vtexassets.com/assets/vtex.file-manager-graphql/images/f844bd84-e371-46d0-99f3-412b73be43ca___f9ce95fcca3e066e68cfa0546e038255.jpg" alt="Imagen 2">
        </mat-tab>
      </mat-tab-group>
    </div>

    <h1 style="text-align: center;">TUS MODELOS FAVORITOS</h1>
    <br>
    <br>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="card-container">
      <mat-card *ngFor="let card of cards" class="card">
        <img mat-card-image [src]="card.image" alt="{{ card.alt }}">
        <mat-card-title>{{ card.title }}</mat-card-title>
      </mat-card>
    </div>
    <br>
    <img mat-card-image src="https://grid0.vtexassets.com/assets/vtex.file-manager-graphql/images/73245884-9025-46d1-bf37-0ba66c0e922e___db6c9353cee718cb53445e79503c8b65.jpg">

  
  
  